{{!-- <header>
    <ul>
        <li><a href="/petition">Home</a></li>

    </ul>
</header>
<h1>Thank you for signing the petition!</h1>
{{#signer}}

    <img
        class="signature"
        src="{{signature}}"
        alt="{{first_name}} {{last_name}}"
    />
{{/signer}}
<a href="/petition/signers">See all {{signers.length}} signers</a> --}}
{{> header}}
<main>
    <section>
        {{#signature}}
            <h1>Thank you for signing the petition, {{first_name}}</h1>

            <img
                class="signature"
                src="{{signature}}"
                alt="{{first_name}} {{last_name}}"
            />
        {{/signature}}
        <form action="/petition/thanks" method="post">
            <button type="submit" id="delete" onclick="confirmDelete()">Delete
                Signature</button>
        </form>
    </section>
    <section><a href="/petition/signers" class="moreSigners">See all
            {{signers.length}}
            signers</a></section>
</main>